@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_header{
    padding: 16px;
}
.app_header h1{
    font-size: 48px;
    color: #ffff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}
.app_main{
    max-width: 960px;
    width: 100%;
}
.input-form{
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.input-form .input-inner{
    background-color: #404040;
}
.input-inner{
    width: 100%;
    border-radius: 10px;
}
.ui.fluid.input>input {
    color: #b3b3b3;
    background: #404040;
    border-radius: 10px;
}
.results{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.results .result{
    width: 33.3333%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    cursor:pointer;
    padding: 15px;
    transition: 0.4s;
}
.results .result img{
    display: block;
    width:100%;
}
.results .result h3{

    color:#fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background-color: #3d3d3d;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.results .result:hover h3{
    background-color: #e4e6eb;
    color: #121212;
}
.results .result:hover{
    transition: 0.4s;
    transform: scale(1.05);
}
.filmName{
    margin: 0;
}

.error{
    display: inline-block;
    padding: 5px 15px;
    margin-top: 15px;
    color: #b3b3b3;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;

}

.popup{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 24, 24, 0.9);;
    overflow-y:scroll;
}

.popup .content{
    position: relative;
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 5% auto;
    padding: 25px;
    color: #fff;
    background-color: #404040       ;
    border-radius: 16px;
}

.popup .content h2{
    font-size: 28px;
    font-weight: 600;
}

.popup .content h2 span{
    font-weight: 300;
    font-size: 20px;
}

.popup .content .rating {
    margin-bottom: 10px;
}

.popup .content .plot{
    display: flex;
    flex-wrap: wrap;
    margin: 10px -15px 30px;
}

.popup .content .plot img{
    flex: 1 1 50%;
    max-width: 300px;
    height:100%;
    padding: 0px 15px;
    margin-top: 10px;

}

.popup .content .plot p{
    display: inline-block;
    flex: 1 1 50%;
    padding: 0 15px;
    font-size: 24px;
    text-align: justify;
    color: #eee;
}
.popup .content .plot p span{
    color: #fff;
    font-size: 28px;
}
.popup .content .close-btn{
    position: absolute;
    top: 16px;
    right: 16px
}
.popup .content .openkp-btn{
    width: 270px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.popup .content .openimdb-btn{
    width: 270px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.btn-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
